
select{
	display: block;
}

.rodape{
    color: white;
    background-color: rgb(30, 39, 165);
    padding: 1%;
    text-align: center;
	box-sizing: border-box;
	box-sizing: border-box;
}

.space{
    height: 15.6em;
}

.image-perfil{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: block;    
    margin:0 auto;
}

td{
    width:30%;
}

table{
    margin:5% auto;    
}

/* uso do modernizr */
.rodape{
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.3);
}

.no-boxshadow .rodape {
    border: 1px solid #CCC;
    border-bottom: 3px solid #CCC;
}
/* google maps css */
#map{
	width: 100%;
	height: 40em;
	margin: 2% auto;
}
/* geral */
.shadowed-box{
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.3);
}

/* video css */
.video-item{
	width: 45.5%;
	height: 250pt;
	margin: 2% 2%;
	box-sizing: border-box;
}

#div-videos-engracados{
	background-color: rgb(118, 177, 224);
}

#div-videos-serios{
	background-color: rgb(75, 160, 209);
}

/* canvas css */
.canvas{
	display: block;
	float: left;
	/* width:40%; */
	/* height:200pt; */ 
}

/* div que contem informação de cada dev */
.perfil-about{
	margin: 4% auto;
}

/* bordas para caixas */
.bordered{
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.rounded{
	border-radius: 5px;
}

/* imagem sobre nos */
.img-about{
	width:20em;
	height:20em;
	border: 1px solid rgba(22, 60, 131, 0.377);
	box-sizing: border-box;
	margin: 1% auto;
}